.dial-buttons {
    margin: 10px 0;
    padding: 0 20%;
}

.incoming-call {
    display: flex;
    flex-direction: row;
}

.incoming-call > div:first-child {
    margin-right: 10px;
}

.incoming-call > div:last-child {
    margin-left: 10px;
}
