.container {
    margin: 10px 10px 20px;
    border-radius: 5px;
    background-color: #6a6a6a;
    height: 372px;
}

.overlay {
    border-radius: 5px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.5) 5%,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 0) 72%,
        rgba(0, 0, 0, 0.4) 72%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.details {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.status {
    margin-right: auto;
    margin-bottom: auto;
    text-transform: uppercase;
}

.timer {
    margin-bottom: auto;
    margin-left: auto;
}

.contact {
    margin: auto auto 5px;
    width: 100%;
}

.name {
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 0.02em;
    font-size: 3em;
}

.phone-number {
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1em;
    font-weight: 300;
}
