.container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.item-left {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    border-bottom: 1px solid #dfdfdf;
    cursor: default;
    overflow: hidden;
    letter-spacing: 0.1em;
    font-size: 1.75em;
    font-weight: 500;
    user-select: none;
}

.item-right {
    display: flex;
    flex: 0 0 0;
    align-items: center;
    margin-left: 10px;
}
