@font-face {
    font-family: "DialpadIcons";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/dialpad-icons.ttf") format("truetype"),
        url("../fonts/dialpad-icons.woff") format("woff"),
        url("../fonts/dialpad-icons.svg") format("svg");
}

:global [class^="icon-"],
:global [class*=" icon-"] {
    text-transform: none;

    line-height: 1;

    font-variant: normal;

    /* use !important to prevent issues with browser extensions that change fonts */
    /* stylelint-disable declaration-no-important */
    font-family: "DialpadIcons" !important;
    /* stylelint-enable */
    font-weight: 400;
    font-style: normal;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    speak: none;
}

:global .icon-dialpad-voicemail::before {
    content: "\e900";
}

:global .icon-dialpad-star::before {
    content: "\e90a";
}

:global .icon-dialpad-hash::before {
    content: "\e90c";
}

:global .icon-dialpad-one::before {
    content: "\e901";
}

:global .icon-dialpad-two::before {
    content: "\e902";
}

:global .icon-dialpad-three::before {
    content: "\e903";
}

:global .icon-dialpad-four::before {
    content: "\e904";
}

:global .icon-dialpad-five::before {
    content: "\e905";
}

:global .icon-dialpad-six::before {
    content: "\e906";
}

:global .icon-dialpad-seven::before {
    content: "\e907";
}

:global .icon-dialpad-eight::before {
    content: "\e908";
}

:global .icon-dialpad-nine::before {
    content: "\e909";
}

:global .icon-dialpad-zero::before {
    content: "\e90b";
}
