@import url("./colors.css");
@import url("./fonts.css");
@import url("./icons.css");

html {
    box-sizing: border-box;
}

body {
    margin: 50px auto;
    background-color: var(--color-background);
    width: 680px;
}

/* stylelint-disable selector-max-universal */
*,
*::before,
*::after {
    box-sizing: inherit;
}
/* stylelint-enable */
