.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container::before {
    flex: 1 0 0;
    content: "";
}

.container-single {
    composes: container;
}

.item {
    display: flex;
    flex: 0 0 auto;
}

.item-right {
    flex: 1 0 0;

    composes: item;
}

.item-left {
    margin-left: auto;

    composes: item;
}
